@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}


.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.active{
  background-color: #0194F3 !important;
  color: white !important;
}

.active:hover{
  background-color: #0e9cfb !important;
  color: white !important;
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col;
}

.master {
  @apply max-w-7xl mx-auto sm:px-16 px-6;
}

.navbar {
  @apply z-10 max-w-7xl mx-auto sm:px-16 px-6;
}

.card-head{
  @apply flex items-center bg-slate-300 font-semibold text-colors-primary-blue;
}

.grey_btn{
  @apply bg-gray-100 hover:bg-gray-200 text-colors-primary-blue px-5 py-1 text-sm font-semibold flex items-center justify-between gap-1
}

.blue_btn {
  @apply rounded-md border border-[#0194F3] bg-[#0194F3] py-1.5 px-5 text-white transition-all hover:bg-[#0194F3] hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-md border border-[#0194F3] bg-transparent py-1.5 px-5 transition-all hover:bg-gray-300 hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}



.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.coupon-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  background: #f8f9fa;
  position: relative;
  overflow: hidden;
}

.card-coupon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding-block: 16px;
  background: #f8f9fa;
  position: relative;
  overflow: hidden;
}
.card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon {
  font-size: 24px;
  background: #dff6ff;
  padding: 8px;
  border-radius: 50%;
}
.details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.details p {
  margin: 0;
  font-size: 14px;
  color: #757575;
}
.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #0194F3;
  /* background: #ccc; */
  position: relative;
  margin: 12px 0;
}
.divider::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 16px;
  height: 16px;
  background: #cccccc;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.divider::after {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: #cccccc;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.code-section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.code {
  font-size: 14px;
  font-weight: bold;
  background: #f0f1f3;
  padding: 4px 8px;
  border-radius: 4px;
}
.copy-button {
  font-size: 14px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
}
.copy-button:hover {
  text-decoration: underline;
}
.boxshadow-coupon{
  /* background: #f8f9fa; */
  box-shadow: 0px 0px 13px 4px #cccccc;
}

/* Swiper */
/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #840000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
} */

/* new */
.swiper-button-next,
.swiper-button-prev{
  color: red;
}
.swiper-button-next:after,
.swiper-button-prev:after{
  font-size: 30px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}
.swiper-pagination-bullet-active{
  background-color: red !important;
}
.swiper-pagination-bullet{
  background-color: rgba(255, e, 0, 0.5);
}




.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide {
    /* flex: 0 0 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    z-index: 900000009;
    /* background-color: #007bff; */
}

.nav-button {
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background-color: white;
    /* color: #fff; */
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}
.nav-button svg{
  fill: #0194F3;
  width: 20px;
}
.nav-button:hover {
    background-color: rgb(237, 237, 237);
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}

.nav-button span {
    pointer-events: none;
}

footer a{
 color: #6B7280;
 filter: grayscale(1);
}

footer a:hover{
  filter: grayscale(0);
  color: #f8f9fa;
}

.divider-nav{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(104,113,118,0.25);
  /* background: #ccc; */
  position: relative;
  margin: 3px 0;
}

/* End Swiper */